{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
   <title>INBOX PAGE</title>
<!--link rel="stylesheet" href="../css/inbox.css"-->
   <link rel="stylesheet" type="text/css" href="{% static 'css/inbox.css'%}">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!--script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"-->

</head>

<body onmousedown = "SendPostRequestInbox(event)">

<div class="wrap">
	<div class="heading">
		<h2>VOICE BASED EMAIL FOR BLIND </h2>
	</div>
		<div class="head1">
			<h1 style="text-align:center">INBOX FOLDER</h1>
			<h1 style="text-align:center">What would you like to Do?</h1>
			
		</div>

		<ul class= "options"> 
			<li><a href ="compose.html">UNREAD</a></li>
			<li><a href ="inbox.html">SEARCH</a></li>
			<li><a href ="menu.html">BACK</a></li>
			
			<li><a href ="login.html">LOGOUT</a></li>
		</ul>
</div>

<script>
	function SendPostRequestInbox(event){
		$.ajax({
        url: "{% url 'base:inbox' %}",
        method: 'POST',
        data: { 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function (data) {
			if(data.result == 'success'){
				window.location = "{% url 'base:menu' %}";
			}
			else if(data.result == 'logout'){
				window.location = "{% url 'base:login' %}";
			}
        }
    });
	}
	</script>


</body>
</html>